.Boton{
    background: linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.274));
    border: map-get($Colores , primario );
    border-style: solid;
    @include botonesBlog (100px,3px,100px,100%);
    &:hover{
        background-color: map-get($Colores , primario );
    }
}

.Boton1{
    background-color: map-get($Colores , primario );
    @extend .Boton;
}