.buscador{
    border: 2px map-get($Colores , primario );
    border-style: solid;
    border-radius: 30px;
    height: 40px;
    .buscarTexto{
        border: none;
        background: none;
        outline: none;
        color: map-get($Colores , secundario );
    }
}