@media(min-width:750px){
    .HeaderAfiliados{
        background-position: -250px;
    }
    .Filtro{
        font-size: 14px;
    }
    .tarjetaAfiliado{
        font-size: 16px;
    }
}
@media(min-width:960px){
    .FondoContacto{
        height: 800PX;
    }
    .derechos{
        font-size: 12px;
    }
    .HeaderAfiliados{
        background-position: -250px;
        height: 600px;
    }
    .Filtro{
        font-size: 16px;
    }
    .FondoC{
        height: 800px;
    }
}
@media(min-width:1200px){
    .FondoContacto{
        height: 1000PX;
    }
    .HeaderAfiliados{
        background-position: -50px;
    }
}
@media(min-width:1400px){
    .HeaderAfiliados{
        background-position: 0;

    }
}
