* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #FFB319;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.footer .derechos {
  font-size: 10px;
}

.tarjeta {
  box-shadow: 1px 1px 1px 2px #f3f3f3;
  border-radius: 10px;
  height: 250px;
}

.FondoContacto {
  background-image: url(../img/contacto\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.FondoBlog {
  background-image: url(../img/Blog/fondo\ con\ elementos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.HeaderAfiliados {
  background-image: url(../img/afiliados/veterinaria-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: -460px;
}

.Boton, .Boton1 {
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.274));
  border: #FFB319;
  border-style: solid;
  height: 100px;
  margin: 3px;
  width: 100px;
  border-radius: 100%;
}
.Boton:hover, .Boton1:hover {
  background-color: #FFB319;
}

.Boton1 {
  background-color: #FFB319;
}

.buscador {
  border: 2px #FFB319;
  border-style: solid;
  border-radius: 30px;
  height: 40px;
}
.buscador .buscarTexto {
  border: none;
  background: none;
  outline: none;
  color: #081920;
}

.card {
  height: 450px;
}
.card .img {
  height: 200px;
}

@media (min-width: 750px) {
  .HeaderAfiliados {
    background-position: -250px;
  }
}
@media (min-width: 960px) {
  .FondoContacto {
    height: 800PX;
  }
  .derechos {
    font-size: 12px;
  }
  .HeaderAfiliados {
    background-position: -250px;
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .FondoContacto {
    height: 1000PX;
  }
  .HeaderAfiliados {
    background-position: -50px;
  }
}
@media (min-width: 1400px) {
  .HeaderAfiliados {
    background-position: 0;
  }
}
.Filtro, .Filtro1 {
  background-color: #FFE9BC;
  border: #FFB319;
  border-width: 1PX;
  border-style: solid;
  height: 40px;
  margin: 3px;
  width: 200px;
  border-radius: 20px;
}
.Filtro:hover, .Filtro1:hover {
  background-color: #FFB319;
}

.Filtro1 {
  background-color: #FFB319;
}

.tarjetaAfiliado {
  box-shadow: 1px 1px 1px 2px #f3f3f3;
  border-radius: 10px;
  height: 220px;
}
.tarjetaAfiliado:hover {
  transform: translateX(-15px);
  box-shadow: 0 8px 8px rgba(20, 20, 18, 0.192);
}